@use './utils/_vars';
@use './utils/_mixins';
* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

.container {
	min-height: 100vh;
	padding-bottom: 5rem;
	color: vars.$light-mode-txt;
	background-color: vars.$light-mode-bg;
	transition: all ease-in-out 0.2s;
}

.light {
	background-color: vars.$light-mode-bg;
	color: vars.$light-mode-txt;
}

a {
	text-decoration: none;
	color: inherit;
}

.dark {
	.container {
		background-color: vars.$dark-mode-bg;
		color: vars.$dark-mode-elem;
	}
}
