@use './utils/_vars';
@use './utils/_mixins';

body {
	margin: 0;
}

.container {
	height: 100%;
}
.main-container {
	@include mixins.flexible(flex, column, nowrap, space-between, center);
	position: relative;
	top: 5rem;
	gap: 1rem;
	margin: 0 auto;
	width: 90vw;
	height: 100vh;
	.back-btn {
		position: absolute;
		top: 7vh;
		left: 4vw;
		padding: 0.5rem 2rem;
		width: 150px;
		font-weight: 600;
		border: none;
		border-radius: 5px;
		transition: all ease-in-out 0.2s;
		cursor: pointer;
		i {
			margin-right: 1rem;
			font-size: 1.2rem;
			vertical-align: middle;
		}
	}
}

.details-container {
	position: absolute;
	top: 22vh;
	@include mixins.flexible(flex, row, wrap, space-around, center);
	h2,
	div {
		margin-top: 0;
		text-align: left;
	}
	.img-container {
		align-self: baseline;
		width: 30%;
		img {
			max-width: 100%;
		}
	}
	.details-description {
		display: flex;
		text-align: left;
		.desc-left {
			margin-right: 1rem;
		}
		p {
			font-size: 14px;
			span {
				font-weight: 600;
			}
		}
	}
	.borders {
		@include mixins.flexible(flex, row, wrap, flex-start, center);
		font-size: 14px;
		font-weight: 600;
		.border-div:first-of-type {
			margin-left: 0.5rem;
		}
		.border-div {
			margin-right: 0.5rem;
			width: 3rem;
			height: 1.5rem;
			line-height: 1.5rem;
			text-align: center;
			border-radius: 3px;
			p {
				margin: 0;
			}
		}
	}
}

.light {
	background-color: vars.$light-mode-bg;
	color: vars.$light-mode-txt;
	.main-container {
		.back-btn {
			background-color: vars.$white;
			box-shadow: 0px 0px 5px -1px vars.$light-mode-input;
		}
	}
	.details-container {
		.border-div {
			background-color: vars.$light-mode-bg;
			box-shadow: 0px 0px 5px -1px vars.$light-mode-input;
		}
	}
}

.dark {
	color: vars.$white;
	background-color: vars.$dark-mode-bg;
	.main-container {
		.back-btn {
			background-color: vars.$dark-mode-elem;
			box-shadow: 0px 0px 5px -1px vars.$light-mode-txt;
		}
	}
	.details-container {
		.border-div {
			background-color: vars.$dark-mode-elem;
			box-shadow: 0px 0px 5px -1px vars.$light-mode-txt;
		}
	}
}

@media screen and (max-width: 400px) {
	.dark,
	.light,
	.main-container {
		min-height: 100%;
	}
	.main-container {
		.back-btn {
			left: 0;
		}
	}
	.details-container {
		justify-content: left;
		.img-container {
			width: 100%;
			margin-bottom: 1rem;
		}
		.details-description {
			flex-direction: column;
			.borders {
				flex-wrap: wrap;
			}
		}
	}
}
