@use './utils/_vars';
@use './utils/_mixins';

.form-container {
	@include mixins.flexible(flex, row, wrap, space-between, center);
	width: 90vw;
	margin: 0 auto;
	padding-top: 7rem;
	.searchInput {
		text-align: left;
		width: 35%;
		padding: 1rem;
		font-size: 1rem;
		color: vars.$light-mode-input;
		background-color: vars.$white;
		border-radius: 6px;
		box-shadow: 1px 1px 3px -2px vars.$light-mode-input;
		transition: all ease-in-out 0.2s;
		span {
			margin-right: 0.5rem;
		}
		input {
			width: 90%;
			border: none;
			outline: none;
			transition: all ease-in-out 0.2s;
		}
	}
	.form-filter-container {
		display: flex;
		position: relative;
		.form-filter {
			width: 200px;
			padding: 1rem;
			background-color: vars.$white;
			border: none;
			border-radius: 6px;
			box-shadow: 1px 1px 3px -2px vars.$light-mode-input;
			outline: none;
			transition: all ease-in-out 0.2s;
			-moz-appearance: none; /* Firefox */
			-webkit-appearance: none; /* Safari and Chrome */
			appearance: none;
		}
		.select-arrow {
			position: absolute;
			top: 35%;
			right: 15%;
		}
	}
	.reset-btn {
		display: flex;
		align-items: center;
		margin-left: 1rem;
	}
}

.dark {
	.searchInput {
		color: vars.$white;
		background-color: vars.$dark-mode-elem;
		box-shadow: 1px 1px 3px -2px vars.$dark-mode-bg;
		transition: all ease-in-out 0.2s;
		input {
			background-color: vars.$dark-mode-elem;
			color: vars.$white;
		}
	}
	.form-filter-container {
		.form-filter {
			color: vars.$white;
			background-color: vars.$dark-mode-elem;
			box-shadow: 1px 1px 3px -2px vars.$dark-mode-bg;
			select {
				background-color: inherit;
				color: inherit;
			}
		}
		.select-arrow {
			color: vars.$white;
		}
	}
}

@media screen and (max-width: 700px) {
	.form-container {
		flex-direction: column;
		.searchInput {
			width: 85%;
			input {
				width: 80%;
			}
		}
		.form-filter-container {
			width: 75vw;
			.select-arrow {
				top: 40%;
				right: 45%;
			}
			.searchInput,
			.form-filter {
				width: 65%;
				justify-self: flex-start;
				margin: 1rem;
				margin-left: 0;
			}
		}
	}
}
