@use './utils/_vars';
@use './utils/_mixins';

body {
	height: 100%;
}
.light {
	min-height: 100vh;
	color: vars.$light-mode-txt;
	background-color: vars.$light-mode-bg;
}
.countries-container {
	@include mixins.grid(grid, 4, 2rem);
	width: 90vw;
	justify-items: center;
	place-self: center;
	margin: 0 auto;
	margin-top: 2rem;
	h1 {
		grid-column: 1/4;
	}
}

.dark {
	background-color: vars.$dark-mode-bg;
	color: vars.$white;
}

@media screen and(max-width: 400px) {
	.dark,
	.light {
		height: 100%;
	}
}
